/* CSS Lyrics Text Portrait by Jed556 */

html {
    height: 100%;
}

body {
    background-color: #333;
    color: white;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
    position: relative;
}


/* Title */

a {
    text-decoration: none;
}

a:hover {
    color: #0c45bf;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-family: 'Viga', sans-serif;
    padding: 40px;
    color: #2282ff;
    letter-spacing: 1px;
    line-height: 44px;
}

.title-name {
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: -10px;
    margin-top: 0px;
}

.title-name a {
    color: #2282ff;
}

.title-name a:hover {
    color: #0c45bf;
}

.title-legend {
    margin-bottom: 0px;
    margin-top: -10px;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 1px;
}


/* Search Bars */

.search {
    margin: 20px;
    padding: 20px;
}

.search-song {
    width: 100%;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #65baff;
    color: white;
    height: 30px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.search-song:focus {
    outline: none;
}

.search-img {
    width: 100%;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #65baff;
    color: white;
    height: 30px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.search-img:focus {
    outline: none;
}

.results {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    padding-top: 10px;
    margin-bottom: -20px;
}

.result {
    border-bottom: 1px solid #65baff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.result:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.result.result-last {
    border-bottom: none;
}


/* Song Lyrics */

.lyrics {
    margin: 20px;
    font-family: 'Crimson Text', serif;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Crimson Text', serif;
    padding-bottom: 90px;
}

.lyrics-title {
    text-align: center;
}

.copy-lyrics {
    text-align: right;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    color: #2282ff;
    text-transform: uppercase;
}

#thelyrics {
    max-height: 100%;
    max-width: max-content;
    overflow: hidden;
    padding-left: -20px;
    padding-right: -20px;
    margin-left: -40px;
    margin-right: -40px;
    text-align: justify;
    text-justify: inter-character;
    font-size: 9px;
    line-height: 9px;
    background: url(icons/LP.svg);
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: center top;
    background-attachment: scroll;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}


/* Footer */

footer {
    width: 100%;
    bottom: 0px;
    position: fixed;
    vertical-align: middle;
}

.credits {
    opacity: 0.5;
    padding: 12px;
    font-weight: 800;
    text-align: center;
    vertical-align: middle;
    background-color: #222;
    text-transform: uppercase;
}

.credits a {
    z-index: 1;
    color: #aaa;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 26px;
}